<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/../images/favicon.ico">
    <title>Palkkatuki - Muokkaa sivu</title>
    <link href="/../stylesheets/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="/../stylesheets/style.css">
	<script src="/../scripts/quill.min.js"></script>
	<script type="text/javascript" src="/../scripts/utilities.js"></script>
    <script defer src="/../scripts/editor-page.js"></script>
    <script defer src="/../scripts/edit-page.js"></script>
    <script defer>
    	document.addEventListener('DOMContentLoaded', function() {
    		const html = `<%- page.text %>`;
    		quill.root.innerHTML = html;
		});
    </script>
</head>
	<body>
		<div id="root-container" class="flex">
			<%- include('header') -%>
			<div id="content-container" class="flex">
				<div id="edit-page" class="flex rows page">
					<div id="breadcrumbs" class="align-center">
						<a href="#">Etusivu</a>
						<% for(var i=0; i<breadcrumbs.length; i++) { %>
							<span>></span>
							<a href="/../sivu/<%= breadcrumbs[i].id %>"><%= breadcrumbs[i].title %></a>
						<% } %>
					</div>
					<input id="page-title" class="title space-on-top" type="text" value="<%= page.title %>">
					<div id="editor"></div>
					<div class="flex space-around full-width">
						<button id="save-changes-button" class="align-self-left space-on-right button flex columns align-center">
							<div class="icon save-icon small-icon space-on-right"></div>
							<div>Tallenna muutokset</div>
						</button>
						<button id="cancel-changes-button" class="button flex columns align-center">
							<div class="icon cancel-icon small-icon space-on-right"></div>
							<div>Peruuta muutokset</div>
						</button>
						<button id="remove-page-button" class="justify-self-right button flex columns align-center">
							<div class="icon delete-icon small-icon space-on-right"></div>
							<div>Poista sivu</div>
						</button>
					</div>
					<div id="child-pages" class="flex columns">
						<% for(var i=0; i<page.subpages.length; i++) { %>
							<a href="/../sivu/<%= page.subpages[i].id %>"class="button space-around"><%= page.subpages[i].title %></a>
						<% } %>
					</div>
				</div>
			</div>
			<%- include('footer') -%>
		</div>
	</body>
</html>